* {
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 924px) {
    .container {
        max-width: 100%;
    }
    
}