@import '../../index.scss';

.feed {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    margin-top: 70px;

    .postFeed {
        min-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;

        .pictureFeed {
            width: 100%;
            height: 550px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
            }

        }

        .infoPost {
            width: 100%;
           
            .userPhoto {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #f0f0f0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                font-size: 14px;
                color: $text-primary;
                font-weight: 400;
                padding: 10px 0 5px 0;
            }
            h2 {
                font-size: 14px;
                color: $text-secondary;
                font-weight: 400;
                padding: 0 0 15px 0;
            }

        }
        
        .postComments {
            width: 100%;
            border-top: 1px solid #111;
            margin-bottom: 30px;

            .comment {
                width: 100%;

                p {
                    font-size: 14px;
                    color: $text-primary;
                    padding: 10px 0;
                    font-weight: 500;
                    
                    span {
                        color: $text-secondary;
                    }
                }
            }
        }
    }
}

.inputComment {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: rgb(8, 8, 8);
    color: #FFF;
}