.listComments {
    width: 100%;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;

    .infoPost {
        color: #fff;

        h1 {
            font-size: 22px;
            margin-top: 30px;
            background-color: #000;
            border-radius: 8px;
            padding: 10px;
        }
        p {
            font-size: 17px;
            padding: 10px;
            color: #000;
        }

        .comments {
            width: 100%;
            border-radius: 10px;
            border: 1px solid #111;
            padding: 30px 0;

            h2 {
                padding: 0 10px;
                margin-bottom: -10px;
                color: #000;
                margin-top: -20px;
            }
            h3 {
                padding: 0 10px;
                color: #000;
                margin-bottom: -15px;
            }
             
        }
    }

    .btnDelete {
        background-color: #000;
        color: #000;
        padding: 10px;
        border-radius: 8px;
        margin: 10px;
        justify-content: end;
    }
}