.mainPost {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;

    .postImg {
        width: 100%;
        height: auto;

        .imgPost {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
        }
    
    }

    .postDetail {
        width: 100%;
        height: auto;

        h1 {
            color: #FFF;
            font-size: 19px;
            margin-top: 20px;
        }
        p {
            color: #9a9a9a;
            margin-bottom: 7px;
            float: left;
            margin-left: 55px;
        }
        .postOwnerPhoto {
            width: 45px;
            height: 45px;
            object-fit: cover;
            border-radius: 50%;
            float: left;
            margin: 10px 10px 0 0; 
        }
    }

    .postComments {
        width: 100%;
        border-top: 1px solid #111;
        margin-bottom: 30px;

        .inputComment {
            margin-top: 15px;
        }

        .comment {
            width: 100%;

            p {
                font-size: 14px;
                color: #9a9a9a;
                padding: 0px 0 10px 0;
                font-weight: 500;
                
                span {
                    color: #9a9a9a;
                }
            }
        }

        .user-info {
            margin-top: 5px;
            span {
                font-size: 16px;
                color: #fff;
            }
        }
    }


}
.btn-comment {
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid #111;
}

@media (max-width: 924px) {
    .mainPost {
        margin-top: 75px;
    }
    .imgPost {
        z-index: -999;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

.user-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;

    span {
        color: #fff;
    }
}
.videoplayer {
    width: 100%;

    .playerVideo {
        width: 100%;
        height: 500px;
    }

}