.newPost {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 95px;
    border-radius: 15px;
    flex-direction: column;
    background-color: #fff;

    h1 {
        font-size: 28px;
        color: #444;
        padding: 10px 48px;
    }

    .formPost {
        width: 100%;
        padding: 0 40px;
        padding-bottom: 75px;
    }

}
.inputForm {
    

    p {
        color: #9a9a9a;
        font-size: 17px;
        font-weight: 400;
        padding: 5px 0;
    }
    .inputPost {
        width: 100%;
        height: 35px;
        border-radius: 20px;
        padding: 15px 20px;
        background-color: rgb(8, 8, 8);
        color: #000;
    }

}
